@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.body {
  background: linear-gradient(90deg,rgb(85, 111, 255)0%,rgb(113, 222, 219)100%);
  display: flex;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
}

.form-container {
  height: auto;
  width: 430px;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: space-evenly;
  padding: 10px;
}

.success-message {
  font-family: "Roboto", sans-serif;
  background-color: #3f89f8;
  padding: 15px;
  color: white;
  border-radius: 50px;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

.form-container span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
}

input {
  background: #f2f2f2;
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}

button {
  background: linear-gradient(90deg,rgb(76, 57, 252)0%,rgb(113, 222, 219)100%);
  color: white;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
.head{
  color: rgb(2, 64, 97);
  font-size: 2rem;
  text-align: center;

}